body {
    /*   @import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700&display=swap');
    font-family: 'Dosis', sans-serif;*/
    @import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap&subset=cyrillic');
    font-family: 'Poiret One', cursive;

    font-weight: bold;
    padding: 0;
    margin: 0;
    background: url(../img/old-scrateched-wood-49277-1920x1080.jpg) repeat;
    background-size: 100%;
    background-attachment: fixed;


}

.main {
    padding: 0 auto;
    margin: 0 auto;
    width: 1360px;
    height: 100%;
    background: #fff;
    border-radius: 25px;
    box-shadow: #303437 0 0 50px;

}

.header-responsive {
    display: none;
}

.content-articles__one-responsive {
    display: none;
}
.content-articles__two-responsive {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
}

.header-img__one {
    border-radius: 25px;
}

.header-img__one img {
    width: 700px;
    height: 600px;
    margin-top: -125px;
    margin-left: 0px;
    border-radius: 300px 25px 25px 25px;

}

.header-img__two img {
    width: 500px;
    border-radius: 25px;
    transition: all linear .4s;
    border-radius: 0px 25px 0px 25px;
    position: relative;
    opacity: 0.89;

}

.header-img__two img:hover {
    margin-top: 130px;
    margin-right: 100px;
    transition: all 0.7s;
    box-shadow: #b4a0a1 10px -10px 100px;

    border-radius: 25px;

    transform: scale(1.25);
    opacity: 1;


}

.content-articles {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 34px;
    letter-spacing: .3em
}

.content-articles__one p {
    margin-left: 200px;
    border: #000 solid 2px;
    border-radius: 25px;
    padding: 20px 40px;
    background: url(../img/old-scrateched-wood-49277-1920x1080.jpg) no-repeat 50%;



}

.content-articles__one {
    transition: all linear .4s;
}

.content-articles__one:hover {
    margin-left: -150px;
    margin-right: 0px;
    transition: all 0.7s;
    transform: scale(1.0);
}

.content-articles__one p {
    transition: all linear .4s;
}

.content-articles__one p:hover {
    padding-right: 182px;
    transition: all 0.7s;
    transform: scale(1.0);

}

.content-articles__two p {
    margin-left: 50px;
    /*margin-right: 400px;*/
    padding-right: 20pxpx;
    border: #000 solid 2px;
    border-radius: 25px;
    padding: 20px 150px;
    background: url(../img/old-scrateched-wood-49277-1920x1080.jpg) no-repeat 60%;
}

.content-articles__two {
    transition: all linear .4s;
    margin-right: 180px;
}

.content-articles__two:hover {
    margin-left: 10px;
    margin-right: 50px;
    transition: all 0.7s;
    transform: scale(1.0);


}

.content-articles__two p {
    transition: all linear .4s;
}

.content-articles__two p:hover {
    padding-left: 275px;
    transition: all 0.7s;
    transform: scale(1.0);

}

/*------Content------*/

.content {
    padding-top: 50px;
    display: flex;
}

.content-pic img {
    width: 450px;
    border-radius: 230px;
    opacity: 0.8;
    border: #000 solid 2px;

}



.content-one {
    display: flex;
    flex-direction: column;
    text-align: end;

    margin-left: 20px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 20px;
    font-size: 22px;
}

.content-two {
    display: flex;
    flex-direction: column;
    text-align: start;


    margin-left: 0px;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 0px;
    font-size: 22px;


}

section {
    display: flex;
    justify-content: center;

    font-size: 43px;
    padding-top: 40px;
    transition: all linear .8s;

}

.section-best p {
    border: #000 solid 2px;
    border-radius: 25px;
    padding: 20px 28px;
    background: url(../img/old-scrateched-wood-49277-1920x1080.jpg) 233.5%;
    /*  letter-spacing: .06em;*/
}

.contacts {
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 34px;
    padding-top: 0px;

    padding-bottom: 40px;

}

.section-contacts p {
    border: #000 2px;
    border-radius: 25px;
    padding: 20px 28px;
    background: #e6e2d1;
    letter-spacing: .02em;

}

.text-decoration {
    text-decoration: none;
    color: #000;
}

/*BLOCKS SECTION*/

.content-one__first {
    background: #e2e0d4
        /*e6e2d1*/
        /*e6ddad*/
    ;
    border-radius: 25px;
    padding: 10px 10px;
    margin-right: -55px;
    margin-left: 20px
}

.content-one__second {
    background: #c5dfdf
        /*cce1c8*/
        /*c0e1ba*/
    ;
    border-radius: 25px;
    padding: 10px 10px;
}

.content-one__third {
    background: #b4a0a1
        /*b4a0a1*/
    ;
    border-radius: 25px;
    padding: 10px 10px;
}

.content-one__fourth {
    background: #e2e2e2;
    border-radius: 25px;
    padding: 20px 20px;
    margin-right: -80px;
    margin-left: 80px
}

/*ANOTHER SECTION*/
.content-two {
    margin-top: -30px;
}

.content-two__first {
    background: #e2e2e2;
    border-radius: 25px;
    padding: 10px 10px;
    margin-bottom: 0px;
    margin-right: 60px;
    margin-left: -90px;
}

.content-two__second {
    background: #b4a0a1;
    border-radius: 25px;
    padding: 10px 10px;
    margin-bottom: 0px;
}

.content-two__third {
    background: #cce1c8/* #c5dfdf*/;
    border-radius: 25px;
    padding: 10px 10px;
    margin-bottom: 0px;
}

.content-two__fourth {
    background: #e2e0d4;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 0px;
    margin-right: 60px;
    margin-left: -80px;
}

/*****/

.content-pic img {
    margin-top: 40px;
}


/*ELISIONSTUDIO.COM & ERATART.COM*/

.footer-development {
    width: 100%;
    height: 100%;
    font-family: 'Poiret One', cursive;
    text-align: justify;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .4em;
    /*.06em; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-shadow: #000 2px 2px 5px;
    font-weight: 900;
}

.development {
    color: #f92809;
    text-decoration: none;

}

.footer-development p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer-development__correct {
    margin-top: 2px;

}

/*______________________________*/
/*______________________________*/
/*______________________________*/
/*______________________________*/
/*______________________________*/

@media screen and (max-device-width: 600px) {
    body {
        padding: 0;
        margin: 0;
    }

    .main {
        margin-left: 3%;

        /*  margin: 0 auto ;
        padding: 0 auto ;*/
        height: 100%;
        width: 1300px;

    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-one {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;

        margin-left: 20px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 20px;
        font-size: 54px;
        letter-spacing: .05em;
    }

    /*BLOCKS SECTION*/

    .content-one__first {
        background: #e2e0d4
            /*e6e2d1*/
            /*e6ddad*/
        ;
        border-radius: 25px;
        padding: 10px 10px;
        margin: 0;


    }

    .content-one__second {
        background: #c5dfdf
            /*cce1c8*/
            /*c0e1ba*/
        ;
        border-radius: 25px;
        padding: 10px 10px;
    }

    .content-one__third {
        background: #b4a0a1
            /*b4a0a1*/
        ;
        border-radius: 25px;
        padding: 10px 10px;
        margin: 0;

    }

    .content-one__fourth {
        background: #e2e2e2;
        border-radius: 25px;
        padding: 20px 0px;
        margin-left: 0;
        width: 100%;
    }

    /*ANOTHER SECTION*/
    .content-pic {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-pic img {
        transition: all linear .4s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 425px;
        width: 800px;
        height: 800px;
        box-shadow: #b4a0a1 0 0 100px;
    }

    .content-pic img:hover {
        transition: all 0.7s;
        box-shadow: #b4a0a1 0 0 100px;

        border-radius: 25px;

        transform: scale(1.2);
        opacity: 1;
    }

    /*_________SECOND SECTION________*/

    .content-two {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;

        margin-left: 20px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 20px;
        font-size: 54px;
        letter-spacing: .05em;
        margin-top: 90px;
    }

    /*BLOCKS SECTION*/

    .content-two__first {
        background: #e2e0d4
            /*e6e2d1*/
            /*e6ddad*/
        ;
        border-radius: 25px;
        padding: 10px 10px;
        margin: 0;



    }

    .content-two__second {
        background: #c5dfdf
            /*cce1c8*/
            /*c0e1ba*/
        ;
        border-radius: 25px;
        padding: 10px 10px;
        margin-left: 0;
        margin-right: 0;

    }

    .content-two__third {
        background: #b4a0a1
            /*b4a0a1*/
        ;
        border-radius: 25px;
        padding: 10px 10px;
        margin-left: 0;
        margin-right: 0;


    }

    .content-two__fourth {
        background: #e2e2e2;
        border-radius: 25px;
        padding: 20px 0px;
        margin-left: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /***************************************/
    /***************************************/
    /***************************************/

    section {
        display: flex;
        justify-content: center;

        font-size: 70px;
        padding-top: 40px;
        transition: all linear .8s;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .section-best p {
        border: #000 solid 2px;
        border-radius: 25px;
        padding: 25px 28px;
        background: url(../img/old-scrateched-wood-49277-1920x1080.jpg) 25.5%;
        box-shadow: #b4a0a1 0 0 100px;
        /*  letter-spacing: .06em;*/
    }

    .contacts {
        display: flex;

        justify-content: center;
        align-items: center;

        font-size: 64px;
        padding-top: 0px;

        padding-bottom: 40px;

    }

    .section-contacts p {
        border: #000 2px;
        border-radius: 25px;
        padding: 20px 28px;
        background: #e6e2d1;
        letter-spacing: .02em;

    }

    /**************DISPLAY NONE***************/
    header {
        display: none;
    }

    .content-articles {
        display: none;

    }

    .header-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-img__one-responsive img {
        width: 1100px;

        margin-top: -200px;
        margin-left: 170px
    }

    .header-img__two-responsive img {
        width: 900px;
        height: 700px;
        transition: all linear .4s;
        border-radius: 25px;
        opacity: .9;
        box-shadow: #b4a0a1 0 0 100px;
    }

    .header-img__two-responsive img:hover {
        width: 1000px;
        height: 1000px;

        border-radius: 25px;
        opacity: 1;
        transform: scale(1.2);
        transition: all 0.7s;
        box-shadow: #b4a0a1 0 0 100px;
        margin-bottom: 100px;
    }


    .content-articles__one-responsive {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        font-size: 66px;
        letter-spacing: .3em
    }

    .content-articles__one-responsive p {
        margin-left: 0px;
        border: #000 solid 2px;
        border-radius: 25px;
        padding: 20px 40px;
        background: url(../img/old-scrateched-wood-49277-1920x1080.jpg) no-repeat 59%;



    }

    .content-articles__tw0-responsive {
        transition: all linear .4s;
    }

    /**/

    .content-articles__two-responsive {
        padding-top: 0px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        font-size: 66px;
        letter-spacing: .3em
    }

    .content-articles__two-responsive p {
        margin-left: 0px;
        border: #000 solid 2px;
        border-radius: 25px;
        padding: 20px 300px;
        background: url(../img/old-scrateched-wood-49277-1920x1080.jpg) no-repeat 15%;



    }

    .content-articles__two-responsive {
        transition: all linear .4s;
    }






    /*ELISIONSTUDIO.COM & ERATART.COM*/

    .footer-development {
        width: 1360px;
        height: 100%;
        font-family: 'Poiret One', cursive;
        text-align: justify;
        font-size: 34px;
        text-transform: uppercase;
        letter-spacing: .4em;
        /*.06em; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        text-shadow: #000 2px 2px 5px;
        font-weight: 900;
    }

    .development {
        color: #f92809;
        text-decoration: none;

    }

    .footer-development p {
        padding-bottom: 15px;
        margin-bottom: 0px;
    }

    .footer-development__correct {
        margin-top: 2px;

        /********************************************/

    }
